@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  input[type="file"] {
    @apply appearance-none;
  }
}

.custom-form-control input {
  background-color: transparent;
  outline: none;
  height: 40px;
}

.chipinput {
  background-color: transparent;
  box-shadow: none!important;
  outline: none!important;
  width: 512px;
  border: 1px solid white!important;
  padding: 15px 25px;
  color: white;
  display: flex;
}

.styles_chip__i-PT7 {
  background: none!important;
  border: 1px solid #121212!important;
  color: white!important;
}

.styles_chip__i-PT7 {
  height: 100%!important;
}

.p-2 {
  height: 100%;
  align-self: center!important;
}

.chipinput div {
  align-self: flex-start;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}

.styles_cursor-pointer__2Jvz5 {
  filter: invert(1);
}